@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*font-family: 'Noto Sans KR', sans-serif; 100, 300, 400, 500, 700, 900*/

/*layout*/
#wrap {}
#header {background-color: #fff;}
#banner {height: 470px; background-color: #a5dfe1;}
#contents {}
#footer {}

/*container*/
.container {width: 1200px; /*background-color:#999;*/ margin: 0 auto; position: relative;}

/*cont layout*/
#cont1 {height: 940px; background-color: #f5f6f8;}
#cont2 {height: 555px; background-color: #efefef;}

/*footer layout*/
#footer_notice {height: 71px; background-color: #fff; line-height: 71px;}
#footer_info {height: 243px; background-color: #f7f8f9;}

/*header*/
.header {overflow: hidden; font-family: 'HanaB'; }
.header li {background: url(../img/bar.gif) no-repeat 0 15px;}
.header li a {display: block;padding: 8px 15px; font-size: 13px; margin: 7px 0;}
.header .list1{float: left; overflow: hidden;}
.header .list1 li{float: left;}
.header .list1 li:first-child {background: none;}
.header .list1 li a{color: #333;}
.header .list1 li.green a {background: #00907f; color: #fff; border-radius: 3px;}

.header .list2 {overflow: hidden; float: right;}
.header .list2 li{float: left;}
.header .list2 li:first-child {background: none;}
.header .list2 li:last-child {background: none;}
.header .list2 li:last-child a{padding-right: 0;}
.header .list2 li a{color: #797979;}
.header .list2 li.log {margin-right: 10px;}
.header .list2 li.log a {border: 1px solid #ccc; border-radius: 3px;padding: 3px 10px; margin: 11px;}

/*ban_right*/
.ban_right {width: 600px; position: absolute; right: 0; top: 50px;}
.ban_right  .br_tit {background-color : #fff; height: 270px;}
.ban_right  .br_btn {background-color: #00907f; height: 50px; margin-top: 25px;}

/*br_tit*/
.ban_right .br_tit {padding: 48px 190px 70px 79px; height: 151px; position: relative;}
.ban_right .br_tit h3{font-weight: 700; font-size: 36px; line-height: 35px; letter-spacing: -1px;}
.ban_right .br_tit h3 span {font-size: 22px; font-weight: 500; letter-spacing: 0px;}
.ban_right .br_tit p {padding-top: 48px; font-size: 15px; color: #444444; line-height: 22px; position: relative;}
.ban_right .br_tit p:before {content: ''; width: 30px; height: 2px; background: #00907f; position: absolute; left: 0; top: 23px;}
.ban_right .br_tit p strong {color: #00907f;}
.ban_right .br_tit .login_btn {position: absolute; right: 50px; top: 55px;}
.ban_right .br_tit .login_btn ul {}
.ban_right .br_tit .login_btn ul li {margin-bottom: 1px;}
.ban_right .br_tit .login_btn ul li a{width: 80px; height: 80px; display: block; text-align: center; color: #fff; font-size: 14px;}
.ban_right .br_tit .login_btn ul li.lb1 a { background: #db3360 url(../img/ico_login.png) no-repeat center 17px; padding-top: 45px; height: 35px; transition: background 0.4s ease;}
.ban_right .br_tit .login_btn ul li.lb1 a:hover {background-color: #c4204c;}
.ban_right .br_tit .login_btn ul li.lb2 a {background-color: #3c3f44; line-height: 80px; transition: background 0.4s ease;}
.ban_right .br_tit .login_btn ul li.lb2 a:hover {background: #333;}

/*br_btn*/
.ban_right .br_btn {background-color: #00907f; height: 50px; margin-top: 25px;}
.ban_right .br_btn ul {overflow: hidden;}
.ban_right .br_btn ul li {float: left; width: 25%; text-align: center;line-height: 50px; position: relative;}
.ban_right .br_btn ul li:before {content: ''; width: 1px;height: 14px; background-color: #62bcb1; position: absolute; left: 0; top: 19px;}
.ban_right .br_btn ul li:first-child:before {width: 0;	height: 0;}
.ban_right .br_btn ul li a {color:#fff; font-size: 15px; font-weight: 500;}

/*nav layout*/
#nav {width: 100%; background: #fff; position: absolute; left: 0; top: -50px;font-family: 'HanaB'; border-bottom: 1px solid #e6e6e6;}
#nav .gnb {width: 790px; text-align: center; padding-left: 48px;}
#nav .gnb li {padding : 0 8px; display: inline; width: 11%; line-height: 100px;}
#nav .gnb li a{padding: 10px 20px; font-weight: 500; font-size: 17px; transition: all 0.4s ease;}
#nav .gnb li a:hover {background-color: #00907f; color: #fff; border-radius: 3px;}

#nav .gnb_right {position: absolute; right: 50px; top: 30px; overflow: hidden;}
#nav .gnb_right li {float: left;}
#nav .gnb_right li a {font-size:14px; width: 102px;	height: 38px;  display: block;}
#nav .gnb_right .gr1 a{background: #fff; border: 1px solid #ccc; border-radius: 3px;text-align: center; line-height: 38px; transition: all 0.4s ease;}
#nav .gnb_right li.gr1 a:hover{background-color: #f4f4f4; color: #444;}
#nav .gnb_right .gr2 a{background: #404b57; border-radius: 3px; margin-left: 9px; text-align: center; line-height: 38px; position: relative; color:#fff; transition: all 0.4s ease;}
#nav .gnb_right li.gr2 a:hover{background-color: #000;}

#nav .gnb_search {width: 50px; height: 50px;position: absolute; top: 31px; right: 278px; background: url(../img/robot.png) no-repeat center 0; font-family: 'Noto Sans KR'; font-weight: 500;text-align: center; line-height: 75px;}
#nav .gnb_event {background-color: #3c3f44; display: block; position: absolute; top: -31px;left: 20px; color: #fff; font-size: 14px; line-height: 30px; text-transform: uppercase; padding: 1px 21px 0  21px;}
#nav .gnb_event i {padding-left: 10px;}

/*card*/
#card {overflow: hidden; padding-top: 60px;}
.card_img {float: left; width: 50%; height: 285px; background-color: #fff;}
.card_desc {float: left; width: 50%; height: 285px; background-color: #eaebef;}

/*card_img*/
.card_img {padding: 14px 50px 0; box-sizing: border-box;}
.card_img h4{font-size: 14px; color: #000; font-weight: 400; padding-bottom: 11px;}
.card_img .card_banner{margin-bottom: 30px;}
.card_img .card_banner ul {overflow: hidden;}
.card_img .card_banner ul li {float: left; width: 146px; margin-left: 30px;text-align: center;}
.card_img .card_banner ul li:first-child {margin-left: 0;}
.card_img .card_banner ul li img {width: 100%;}
.card_img .card_banner ul li a em {font-size: 15px; font-weight: 500;display: block; padding-top: 10px;}


.card_img .card_link ul {overflow: hidden;}
.card_img .card_link ul li {float: left; margin-left: 8px;}
.card_img .card_link ul li:first-child {margin-left: 0;}
.card_img .card_link li a{border: 1px solid #e8e8e8; padding: 8px 15px; display: block; font-size: 14px; text-align: center; border-radius: 3px; transition: all 0.4s ease;}
.card_img .card_link li a:hover {border-color: #666; color : #000;}
/*ie8*/
.ie8 .card_img .card_link li a {padding: 10px 14px;}

/*card_desc*/
.card_desc {padding: 50px 30px 0; box-sizing: border-box; text-align: center;}
.card_desc dl dt{font-size: 15px; color: #777;}
.card_desc dd.cd1 {margin : 24px 0; font-size: 	23px;  font-weight: 500;color: #000;}
.card_desc dd.cd1:before {content: '"'; color: #00907f;}
.card_desc dd.cd1:after {content: '"'; color: #00907f;}

.card_desc dd.cd2 ul {padding-top: 13px;}
.card_desc dd.cd2 ul li {display:inline; margin : 0px 1px;}
.card_desc dd.cd2 ul li a {background: #fff; padding: 8px 30px; display: inline-block; border: 1px solid #fff; border-radius: 3px; font-size: 15px; transition: all 0.4s ease;}
.card_desc dd.cd2 ul li a:hover {border-color: #bbb; color: #000;}

/*event*/
#event {overflow: hidden; margin-top: 10px;}
#event .event_box1 {float: left;}
#event .event_box2 {float: left;}
#event .event_box3 {float: left;}

/*event_box1*/
.event_box1 {text-align: center; color: #fff;}
.event_box1 .eb_desc {font-size: 15px; font-weight: 300;}
.event_box1 .eb_tit {font-size: 19px;}
.event_box1 div {padding-top: 110px;box-sizing: border-box;}
.event_box1 .eb_banner1 {width: 300px; height: 188px;background: #00907f url(../img/event_icon1.png) no-repeat center 33px;}
.event_box1 .eb_banner2 {width: 300px; height: 188px;background: #76719a url(../img/event_icon2.png) no-repeat center 33px;}
.event_box1 .eb_banner3 {width: 300px; height: 188px;background: #435a7c url(../img/event_icon3.png) no-repeat center 33px;}

/*event_box2*/
/*eb_banner4*/
.event_box2 {}
.event_box2 .eb_banner4 {position: relative; width: 600px;height: 376px;background: #fff;}
.event_box2 .eb_banner4 .eb_icon {position: absolute;top: 51px;left: 60px;}
.event_box2 .eb_banner4 .eb_icon ul {overflow: hidden;}
.event_box2 .eb_banner4 .eb_icon li {float: left;}
.event_box2 .eb_banner4 .eb_icon li a {font-size: 12px; padding: 3px 8px; display: block;}
.event_box2 .eb_banner4 .eb_icon li.ei1 a {border: 1px solid #00907f; background-color: #00907f; color:#fff; border-radius:3px; margin-right: 8px; text-transform: uppercase;}
.event_box2 .eb_banner4 .eb_icon li.ei1 a i{padding-left: 4px;}
.event_box2 .eb_banner4 .eb_icon li.ei2 a {border: 1px solid #ccc; border-radius: 3px; transition:all 0.4s ease;}
.event_box2 .eb_banner4 .eb_icon li.ei2 a:hover {border-color: #000; color:#000;}

.event_box2 .eb_banner4 .eb_slider {padding: 120px 80px 80px 60px; background: url(../img/eb_icon1.png) no-repeat 300px center;}
.event_box2 .eb_banner4 .eb_slider p {font-size: 15px; font-weight: 300;}
.event_box2 .eb_banner4 .eb_slider h4 {font-size: 22px; font-weight: 400; color:#323232; margin: 45px 0 60px 0; position: relative;}
.event_box2 .eb_banner4 .eb_slider h4:before {content: ''; width: 30px; height: 2px; background: #323232; position: absolute; left: 0px; top: -20px;}
.event_box2 .eb_banner4 .eb_slider span {font-size: 15px; font-weight: 300;color:#676767;}

/*event_box2*/
/*eb_banner5*/
.event_box2 .eb_banner5 {position: relative; width: 600px;height: 188px;background: #8cc7e7 url(../img/pig.png) no-repeat 150px 55px;}
.event_box2 .eb_banner5 h4{position: absolute;left: 60px;	top: 95px;font-size: 20px;font-family:'HanaB';}
.event_box2 .eb_banner5 .money {margin:0px 50px 0 260px; padding-top: 53px; overflow: hidden;}
.event_box2 .eb_banner5 .money li {float: left; margin-right: 8px;margin-bottom: 8px;}
.event_box2 .eb_banner5 .money li a{display: block; background: #fff; padding: 9px 10px; border-radius: 3px; font-size: 14px; width: 134px; text-align: center; transition: all 0.4s ease;}
.event_box2 .eb_banner5 .money li a:hover {background-color: #f4f4f4;}
.event_box2 .eb_banner5 .point {position: absolute; left: 60px;	top: 55px; background-color: #4c647f; color:#fff; border-radius:3px; text-transform: uppercase; padding: 3px 12px; }
.event_box2 .eb_banner5 .point i {padding-left: 4px;}
.event_box2 .eb_banner5 .money li.w100 a{width: 100px;}
/*.event_box2 .eb_banner5 .money li:nth-child(1) a{width: 100px;}
.event_box2 .eb_banner5 .money li:nth-child(3) a{width: 100px;}*/

/*event_box3*/
.event_box3 {width: 300px;height: 564px; background: #d75e7e; text-align: center;}
.event_box3 h4 {font-size: 23px; color: #fff; padding: 40px 0;}
.event_box3 .eb_slider2 p {font-size: 15px; color: #fff; padding: 45px 30px 15px 30px;}
.event_box3 .eb_slider2 a{font-size: 15px; background: #fff; padding: 8px 55px; display: inline-block; border-radius: 3px;}

/*life*/
/*#life {height: 330px; background: url(../img/mc_service_bg02.png) no-repeat; overflow: hidden; padding-top: 72px;	}
#life h3 {font-size: 	49px; text-transform: uppercase; font-weight: 500; color: #343434; line-height: 50px; letter-spacing: 15px; padding-left: 49px;float: left;}
#life em {font-size: 18px;letter-spacing: 0px;}
#life .life_menu {float: right;}
#life .life_menu ul {overflow: hidden;}
#life .life_menu ul li {float: left; padding: 0 50px 0px 50px;}
#life .life_menu ul li a{font-size: 17px;}

#life .life_btn {background: #fff; width: 100%; margin-top: 40px;text-align: center;padding: 0 30px 0 10px;}
#life .life_btn ul {overflow: hidden;}
#life .life_btn ul li{float: left;padding: 13px 55px;}
#life .life_btn ul li a{font-size: 15px;}*/

#life {height: 330px; background: url(../img/mc_service_bg02.png) no-repeat; overflow: hidden;}
#life h3 {width: 50%; float: left; height: 215px; padding: 60px 30px 30px 30px; box-sizing: border-box; font-size: 50px; color: #333; text-transform: uppercase; letter-spacing: 15px; font-weight: 	500;}
#life h3 em {font-size: 18px; color: #000; display: block; letter-spacing: 0px;}
#life .life_menu {width: 50%; float: left; margin-top: 70px;	}
#life .life_menu li {width: 25%;	 float: left;}
#life .life_menu li a {display: block;	width: 100px; height: 100px;border-radius: 50%; background: #ddd; text-align: center; line-height: 100px; font-size: 16px; color: #000; transition: all 0.4s ease;}
#life .life_menu li a:hover {background: #cc3b63; color: #fff;}

#life .life_btn {width: 100%; float: left;background: #fff; text-align: center; margin-top: 20px;	}
#life .life_btn ul {overflow: hidden;}
#life .life_btn li {float: left; width: 16.6666%; position: relative;}
#life .life_btn li:after {content:''; width: 1px; height: 14px;	background: #ccc; position: absolute;	left: 0;	 top: 19px;	}
#life .life_btn li:first-child:after{width: 0; height: 0;}
#life .life_btn li a {display: block; padding: 13px 10px; font-size: 16px; color: #333; transition: all 0.3s ease;}
#life .life_btn li a:hover {color:#00907F;}

/*app*/
#app {overflow:hidden; width: 100%;}
.app_left {float: left;width: 49.3%; margin-right: 0.7%;height: 200px; background: #fff url(../img/mc_service_banner01_img.jpg) no-repeat 50px 43px;}
.app_left .al_btn {overflow: hidden; padding: 40px 10px 20px 290px;}
.app_left .al_btn li{float: left; margin-right: 20px; border: 1px solid #eaeaea; border-radius: 10px; width: 48px; height: 48px;}
.app_left .al_btn li a{}
.app_left .al_btn li a img {border-radius: 10px;}

.app_left .al_txt {padding: 0 0 0 290px; font-size: 15px; color: #666;}
.app_left .al_txt li {}
.app_left .al_txt li a {}
.app_left .al_txt li strong {display: block;font-size: 17px; color: #000; line-height: 24px;}


.app_right {overflow:hidden; float: left;width: 50%; height: 200px;background: #ddd;}
.app_right .ap_ban1 {float: left; width: 25%; height: 70px;background: #2f4359 url(../img/lock.png) no-repeat center 60px; text-align: center; font-size: 15px; color: #fff;padding-top: 130px;}
.app_right .ap_ban2 {float: left; width: 25%;height: 70px;background: #00907f url(../img/book.png) no-repeat center 65px; text-align: center; font-size: 15px;color: #fff; padding-top: 130px;}
.app_right .ap_ban3 {float: left; width: 50%;height: 200px;background: #fff; padding: 0 20px 20px 20px; box-sizing: border-box;}
.app_right .ap_ban3 .ban3_text {padding: 0px 20px 27px 85px; font-size: 15px; color:#666; border-bottom: 1px solid #ddd; background: url(../img/love.png) no-repeat 10px 40px;}
.app_right .ap_ban3 .ban3_text h5 {font-size: 17px; color: #000; }
.app_right .ap_ban3 .ban3_slider {text-align: center;font-size: 15px; padding: 10px 0 0 0;}

/*footer_notice*/
#footer_notice {overflow: hidden; position: relative; border-bottom: 1px solid #e6e6e6;}
#footer_notice h3 {float: left; font-size: 15px; margin-right: 30px;}
#footer_notice h3 i {border: 1px solid #ccc; border-radius: 2px;font-size: 10px;width: 8px; padding:4px; height: 8px; line-height: 8px; display: inline-block; margin-left: 5px; vertical-align:2px;}
#footer_notice ul {float: left;}
#footer_notice li {display: inline-block; width: 400px; text-overflow: ellipsis;overflow: hidden; white-space: nowrap; margin-right: 50px; }
#footer_notice li a {font-size: 15px; color: #666;position: relative; padding-left: 8px;}
#footer_notice li a:before {content: ''; width: 3px; height: 3px; background: #666; position: absolute; left: 0;top: 8px;}
#footer_notice .service_btn {position: absolute; right: 0; top: 18px; border: 1px solid #e6e6e6; border-radius: 3px; font-size: 14px;line-height: 20px; display: block; padding: 7px 20px; transition: all 0.4s ease;}
#footer_notice .service_btn:hover {border-color: #000;}

/* footer_info */
#footer_info {}
.info {}
.info a {color: #666;}
.info a:hover {color: #00907f;}
.info .f_nav{position: relative;}
.info .f_nav li {display: inline-block; padding: 10px 0;}
.info .f_nav li a{padding: 15px; display: inline-block; font-size: 15px; }
.info .f_nav li a:first-child {padding-left: 0;}
.info .f_nav li a strong {color: #000; font-weight: bold;}
.info .f_nav li a strong:hover {color: #00907f;}

.info .f_address{width: 68.5%; line-height: 24px; margin-bottom: 15px;}
.info .f_address span {display: inline-block; font-size: 13px; padding-right: 15px; color: #666;}

.info .f_icon {}
.info .f_icon ul {overflow: hidden;}
.info .f_icon li {float: left; background: #ccc; margin-right: 10px; padding:0px 5px 15px 50px;}
.info .f_icon .fi1{background: url(../img/ico_footer_mark01.png) no-repeat; padding-left: 45px;}
.info .f_icon .fi2{background: url(../img/ico_footer_mark02.png) no-repeat;}
.info .f_icon .fi3{background: url(../img/ico_footer_mark03.png) no-repeat; padding-left: 55px;}
.info .f_icon .fi4{background: url(../img/ico_footer_mark06.png) no-repeat;padding-left: 65px; padding-right: 20px;}
.info .f_icon .fi5{background: url(../img/ico_footer_mark07.png) no-repeat; padding-left: 45px;}

.info .family_site a{position: absolute; right: 0;top: 17px;border: 1px solid #eaeaea; font-size: 14px; padding: 0px 12px 0 15px; background: #fafafa; color: #222; line-height: 34px; border-radius: 3px;}
.info .family_site a i {margin-left: 15px;}
.info .sns_icon {position: absolute; right: 0; top: 71px;}
.info .sns_icon ul {overflow: hidden;}
.info .sns_icon li {float: left; padding-left: 5px;}
.info .sns_icon .si1 {}
.info .sns_icon .si2 {}













